@value colors: "../../main/colors.css";
@value primary, secondary, tertiary, quaternary, quinary from colors;

.content {
	height: 600px;
	width: 960px;
	background-color: quaternary;
}

.description {
	width: 780px;
	color: #383838;
	line-height: 184%;
	font-family: quantumrounded, sans-serif;
	white-space: pre-line;
}

.inner-content {
	position: absolute;
	top: 80px;
	left: 70px;
}

.text-body {
	height: 440px;
	overflow: scroll;
}

.logo {
	position: absolute;
	top: 30px;
	right: 41px;
	width: 272px;
}

.logo svg {
	fill: primary;
}

.title {
	font-family: quantumrounded, sans-serif;
	color: primary;
}

.section {
	padding: 3px 0 10px 24px;
}

.section-title {
	font-family: quantumrounded, sans-serif;
	color: #383838;
	margin-top: 0px;
}

.table-container {
	padding-top: 38px;
}

.table-container table {
	font-family: quantumrounded, sans-serif;
	color: #383838;
	border-collapse: collapse;
}

.table-container td {
	border: 2px solid primary;
}

.size-label {
	padding: 10px 120px 5px 30px;
}

.size-measurement {
	padding: 0 48px;
}