<html>
<head>
</head>
<body style= "background-color: #d3cebb;">
<table style="font-family: sans-serif;" width="100%">
<tr>
<td align="center">
<img src="http://localhost:3000/media/emails/coast_logo.png">
</td>
</tr>
<tr height="18" class="row-spacer">
</tr>
<tr>
<td align="center">
<table  cellspacing="0" style="background-color: #ecede3; font-size: 16px; letter-spacing: 1.7px; color: #4f6972; font-weight: 600;" width="440">
<tr>
<td width="8">
<div>
&nbsp;
</div>
</td>
<td id="orderId" height="56" align="center">
Numéro de commande: or_1CgfHeA1XgkjzuM5WKcuGGU0</td>
<td width="10">
<div>
&nbsp;
</div>
</td>
</tr>
<tr>
</tr>
</table>
</td>
</tr>
<tr height="10" class="row-spacer">
</tr>
<tr>
<td align="center">
<table cellspacing="0" cellpadding="0" style="background-color: #ecede3;" width="440">
<tr>
<td width="19" height="12" style="font-size: 0px">
<div>
&nbsp;
</div>
</td>
<td style="font-size: 0px">
<div>
&nbsp;
</div>
</td>
<td width="19" style="font-size: 0px">
<div>
&nbsp;
</div>
</td>
</tr>
<tr>
<td></td>
<td>
<table cellspacing="0" width="100%">
<tr>
<td style="color: #404040; font-size: 17px; letter-spacing: 1.8px">
Envoyé à:
</td>
</tr>
<tr>
<td align="center">
<table style="color: #767676; font-size: 16px;">
<tr>
<td>
Coast Beachwear Inc.
</td>
</tr>
<tr>
<td>
Luc Charbonneau
</td>
</tr>
<tr>
<td>
601-420 Lewis Street
</td>
</tr>
<tr>
<td>
Ottawa, ON, CA
</td>
</tr>
<tr>
<td>
K2P0S9
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
<td></td>
</tr>
<tr>
<td height=18px></td>
<td></td>
<td></td>
</tr>
</table>
</td>
</tr>
<tr height="10" class="row-spacer">
</tr>
<tr>
<td align="center">
<table cellspacing="0" cellpadding="0" style="background-color: #ecede3;" width="440">
<tr>
<td width="19" height="12" style="font-size: 0px">
<div>
&nbsp;
</div>
</td>
<td style="font-size: 0px">
<div>
&nbsp;
</div>
</td>
<td width="19" style="font-size: 0px">
<div>
&nbsp;
</div>
</td>
</tr>
<tr>
<td></td>
<td>
<table cellspacing="0" width="100%">
<tr>
<td style="color: #404040; font-size: 17px; letter-spacing: 1.8px">
Livré par:
</td>
</tr>
<tr>
<td height="4" style="font-size: 0px">
<div>
&nbsp;
</div>
</td>
</tr>
<tr>
<td align="center" style="color: #767676; font-size: 16px;">
UPS Worldwide Expedited®
</td>
</tr>
<tr>
<td align="center" style="color: #767676; font-size: 16px;">
Délai de livraison estimé: 1 jour
</td>
</tr>
</table>
</td>
<td></td>
</tr>
<tr>
<td height=18px></td>
<td></td>
<td></td>
</tr>
</table>
</td>
</tr>
<tr height="10" class="row-spacer">
</tr>
<tr>
<td align="center">
<table cellspacing="0" cellpadding="0" style="background-color: #ecede3;" width="440">
<tr>
<td width="19" height="12" style="font-size: 0px">
<div>
&nbsp;
</div>
</td>
<td style="font-size: 0px">
<div>
&nbsp;
</div>
</td>
<td width="19" style="font-size: 0px">
<div>
&nbsp;
</div>
</td>
</tr>
<tr>
<td></td>
<td>
<table cellspacing="0" width="100%">
<tr>
<td style="color: #404040; font-size: 17px; letter-spacing: 1.8px">
Facturé à:
</td>
</tr>
<tr>
<td align="center">
<table style="color: #767676; font-size: 16px;">
<tr>
<td>
Coast Beachwear Inc.
</td>
</tr>
<tr>
<td>
Luc Charbonneau
</td>
</tr>
<tr>
<td>
601-420 Lewis Street
</td>
</tr>
<tr>
<td>
Ottawa, ON, CA
</td>
</tr>
<tr>
<td>
K2P0S9
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
<td></td>
</tr>
<tr>
<td height=18px></td>
<td></td>
<td></td>
</tr>
</table>
</td>
</tr>
<tr height="10" class="row-spacer">
</tr>
<tr>
<td align="center">
<table cellspacing="0" style="background-color: #ecede3;" width="440">
<tr>
<td class="">
<table style="border-bottom: 1px solid #deddde;">
<tr>
<td width="4">
<div>
&nbsp;
</div>
</td>
<td width="80">
<img src="http://localhost:3000/media/product/1.jpg" width="72" height="72">
</td>
<td width="5">
<div>
&nbsp;
</div>
</td>
<td width="280" valign="top">
<table style="color: #404040;">
<tr>
<td height="20" valign="top" style="font-size: 21px; letter-spacing: 1.7px;">
Coast Genesis</td>
</tr>
<tr>
<td style="font-size: 14px; letter-spacing: 1.6px;">
Bleu Médium</td>
</tr>
</table>
</td>
<td valign="top">
<table style="color: #4f6972; font-weight: 600;" width="80">
<tr>
<td align="right" style="font-size: 13px; letter-spacing: 0.9px;">
Qté:&nbsp;1</td>
</tr>
<tr>
<td align="right" style="font-size: 16px">
73.00$</td>
</tr>
</table>
</td>
<td width="4">
<div>
&nbsp;
</div>
</td>
</tr>
<tr>
<td height="6">
<div style="font-size: 0px">
&nbsp;
</div>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td class="">
<table style="border-bottom: 1px solid #deddde;">
<tr>
<td width="4">
<div>
&nbsp;
</div>
</td>
<td width="80">
<img src="http://localhost:3000/media/product/1.jpg" width="72" height="72">
</td>
<td width="5">
<div>
&nbsp;
</div>
</td>
<td width="280" valign="top">
<table style="color: #404040;">
<tr>
<td height="20" valign="top" style="font-size: 21px; letter-spacing: 1.7px;">
Coast Genesis</td>
</tr>
<tr>
<td style="font-size: 14px; letter-spacing: 1.6px;">
Noir Large</td>
</tr>
</table>
</td>
<td valign="top">
<table style="color: #4f6972; font-weight: 600;" width="80">
<tr>
<td align="right" style="font-size: 13px; letter-spacing: 0.9px;">
Qté:&nbsp;3</td>
</tr>
<tr>
<td align="right" style="font-size: 16px">
73.00$</td>
</tr>
</table>
</td>
<td width="4">
<div>
&nbsp;
</div>
</td>
</tr>
<tr>
<td height="6">
<div style="font-size: 0px">
&nbsp;
</div>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td class="">
<table style="border-bottom: 1px solid #deddde;">
<tr>
<td width="4">
<div>
&nbsp;
</div>
</td>
<td width="80">
<img src="http://localhost:3000/media/product/1.jpg" width="72" height="72">
</td>
<td width="5">
<div>
&nbsp;
</div>
</td>
<td width="280" valign="top">
<table style="color: #404040;">
<tr>
<td height="20" valign="top" style="font-size: 21px; letter-spacing: 1.7px;">
Coast Genesis</td>
</tr>
<tr>
<td style="font-size: 14px; letter-spacing: 1.6px;">
Noir Small</td>
</tr>
</table>
</td>
<td valign="top">
<table style="color: #4f6972; font-weight: 600;" width="80">
<tr>
<td align="right" style="font-size: 13px; letter-spacing: 0.9px;">
Qté:&nbsp;3</td>
</tr>
<tr>
<td align="right" style="font-size: 16px">
73.00$</td>
</tr>
</table>
</td>
<td width="4">
<div>
&nbsp;
</div>
</td>
</tr>
<tr>
<td height="6">
<div style="font-size: 0px">
&nbsp;
</div>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td>
<table>
<tr>
<td width="4">
<div>
&nbsp;
</div>
</td>
<td>
<table style="font-size: 18px; color: #767676; letter-spacing: 1.5px">
<tr id="subtotal">
<td width="241">
Sous-total:</td>
<td width="179" height="41" align="right">
511.00$</td>
</tr>
<tr id="shipping">
<td>
Livraison:</td>
<td width="179" height="41" align="right">
12.96$</td>
</tr>
<tr id="taxes">
<td>
Taxes:</td>
<td width="179" height="41" align="right">
66.43$</td>
</tr>
<tr id="total">
<td colspan="4">
<table width="100%" style="border-top: 2px solid #4f6972; font-size: 19px; color: #767676; letter-spacing: 1.5px">
<tr>
<td>
Total:</td>
<td width="179" height="41" align="right">
590.39$</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
<td width="4">
<div>
&nbsp;
</div>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
<tr>
</tr>
</table>
</body>
</html>
